* {
    padding: 0;
    margin: 0;
}

img {
    object-fit: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: contrast(1.2);
    z-index: 0;
}

#body {
    position: relative;
    max-width: 1000px;
    margin: auto;
    z-index: 1;

}

#container {
    display: flex;
    flex-direction: column;
    max-width: 200px;

}

.input-container {
    margin: 12px;
    width: 90%;
}

#navbar {
    display: flex;
    gap: 20px;
    background: green;
    position: relative;
    width: 100%;
    margin: auto;
}

#navbar h2 {
    font-size: 100%;
    padding: 10px 20px;
    width: max-content;
}

#navbar h2:hover {
    background: black;
    color: orange;
    font-size: 100%;
    padding: 10px 20px;
    width: max-content;
}

#page-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: orange;
    padding: 10px 0;
    gap: 5px;
}

#header div {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 10px
}

#header input[type='search'] {
    width: 70%;
    height: 30px;
    padding: 0 5px;
    outline: none;
}

#fruit-name {
    margin: 12px;
}